venv/
.env/

__pycache__/
*.pyc
*.log

# Data files
data/raw/
data/parquet/
data/geojson/
data/cleaned/
data/processed/
data/taxi_zones/
data/logs/
database/
data/
*.csv
*.parquet
*.geojson
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.db
*.zip
*.part
*.db
*.log